label {
	margin-bottom: 18px;
	font-size: 1.25rem;
}

.input-range__label-container {
	color: #212529;
}

.interest-data {
	font-size: 1.3rem;

	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.interest-label {
	color: #554c4c;
}

.interest-display,
.payment-display,
.number-display {
	font-size: 2rem;
	font-weight: bold;
}

.form-group {
	margin-bottom: 2rem;
}

.navbar-brand {
	font-size: 1.75rem;
}

.test {
	color: #2881d9;
}

/*Remove below*/
.jumbotron {
	display: none;
}
